<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<h1> LOGIN: </h1>
<body>
    <form action="/loginForm" method='POST'>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
      </form>
      
      <br><br><br><br>
      <h3>Haven't registered yet?</h3>
      <a href="/register">Register now!</a>
</body>
</html>