<!DOCTYPE html>
<html>
  <div class="image">
    <h1>Save Recipes</h1>
    <a href="{% url 'newrecipe'%}">Go to new Recipe page</a>

    <h1>View Recipes</h1>
    <form action="/action_page.php" method="get" id="nameform">
      <label for="fname">Add Recipe:</label>
      <input type="text" id="fname" name="fname" /><br /><br />
    </form>

    <button type="submit" form="nameform" value="Submit">Submit</button>
  </div>
  <form>
    <fieldset>
      <legend>Add Recipe to public Recipe data</legend>
      <div>
        <input type="checkbox" id="coding" name="interest" value="coding" />
        <label for="Add to public data">Add</label>
      </div>
      <div>
        <button type="submit">Submit form</button>
      </div>
    </fieldset>
  </form>
  <br />
  <br />
  <br />

  <img
    src="img.html/istockphoto-874481424-812x812.jpeg"
    width="900"
    height="450"
  />
</html>
