{% extends 'base.html' %}
{% block title%}Home{% endblock%}


{%block content%}
<center>
  <h1>Welcome, please select an option below.</h1>
</center>
<br />
<form method="POST">
  <center>
    {% if user.is_authenticated %}

    <button type="submit" class="btn btn-primary">View Saved Recipes</button>
    {% endif %}

    <a href="/add_recipe" class="btn btn-primary" role="button">Add a New Recipe</a>
    <a href="/search_recipe" class="btn btn-primary" role="button">Search Recipes</a>
  </center>

</form>
<br />
<form>

</form>
<br />

<form>
</form>
<br />

<center>
  <image src="{{url_for('static',filename = 'img_4.png')}}">
</center>

{%endblock%}
