{% extends 'base.html' %}
{% block title%}Search Recipes{% endblock%}


{%block content%}
<form method="POST">
  <h3 align="center">Search Recipes</h3>
  <div class="form-group">
    <label for="ingredients">Ingredients (separated by commas with no spaces between them)</label>
    <textarea class="form-control" name="ingredients" id="ingredients" rows="3"></textarea>

    <label for="distance">Number of ingredients you are willing to find/purchase (or -1 for all results)</label>
    <input type="text" class="form-control" id="distance" name="distance" value=-1 />

  </div>

  <button type="submit" class="btn btn-primary">Search</button>
</form>
{%endblock%}
